<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Foler - Translation</title>

        <style>
            html {
                margin: 0;
                padding: 0;
            }
            table {
                border: #cecece 1px solid;
            }
        </style>
    </head>
    <body onLoad="projects.reload()">
        
        <table>
            <tr>
                <td colspan="2">
                    Foler
                </td>
                <td>
                    <div id="status_field">
                        Status
                    </div>
                    <form id="project_form">
                        Name <input type="text" name="name">
                        <br />
                        Languages <input type="text" name="languages" placeholder="en,ru,de">
                        <br />
                        Path for export <input type="text" name="path">
                        <br />
                        <button type="button" onclick="projects.ProjectForm.save()"><?php echo $i18n['template']['button_save']; ?></button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="projects_block"></div>
                </td>
                <td>
                    <input type="text" placeholder="<?php echo $i18n['template']['code_placeholder']; ?>">
                    <div id="codes_block"></div>
                    <form id="code_form">
                        
                    </form>
                </td>
                <td>
                    <form id="translation_form">

                    </form>
                </td>
            </tr>
        </table>
        
        <!-- Here goes content from all js/*.js files -->
        { js }
        <!-- /end -->
        
    </body>
</html>