<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Foler - Translation</title>

        <style>
            html {
                margin: 0;
                padding: 0;
            }
            table {
                border: #cecece 1px solid;
            }
            
            .selected_project {
                background-color: #cecece;
            }
        </style>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body onLoad="projects.reload()">
        
        <div class="row">
            <div class="col-md-8">
                Foler
            </div>
            <div class="col-md-3">
                <div id="status_field">
                        Status
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div id="projects_block"></div>

                <script id="projectsTemplate" type="x-tmpl-mustache">
                    <table class="table table-condensed">
                        <thead>
                            <th>#</th>
                            <th>Name</th>
                            <th>Manage</th>
                        </thead>
                        <tbody>
                            {{#projects}}
                                <tr OnClick="projects.selectProjectById({{id_project}})" class="project_block" id="project_block_{{id_project}}">
                                    <td>{{id_project}}</td>
                                    <td>{{name}}</td>
                                    <td><button class="btn btn-danger btn-xs" OnClick="projects.deleteProject({{id_project}})">delete</button></td>
                                </tr>
                            {{/projects}}
                        </tbody>
                    </table>
                </script>
                
                <h3>Add/edit project</h3>
                <hr>
                <form id="project_form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Name</label>
                        <div class="col-sm-6">
                            <input class="form-control input-sm" type="text" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Languages</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" name="languages" placeholder="en,ru,de">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Path</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" name="path">
                        </div>
                    </div>
                    <button type="button" onclick="projects.ProjectForm.save()" class="btn btn-default"><?php echo $i18n['template']['button_save']; ?></button>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <input type="text" placeholder="<?php echo $i18n['template']['code_placeholder']; ?>">
                <div id="codes_block"></div>
                <form id="code_form">

                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <form id="translation_form">

                </form>
            </div>
        </div>
        
        <!-- Here goes content from all js/*.js files -->
        { js }
        <!-- /end -->
        
    </body>
</html>